pycaret==2.3.0
streamlit
Flask==1.1.2
Jinja2==2.10.1
gunicorn==19.9.0
certifi==2019.11.28
itsdangerous==1.1.0
kmodes>=0.10.1
pandas
scipy<=1.5.4
numpy==1.19.5
seaborn
matplotlib
lightgbm>=2.3.1
catboost>=0.23.2
xgboost>=1.1.0
awscli
azure-storage-blob
google-cloud-storage